html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Font utilities */
.font-vujahday {
  font-family: 'Vujahday Script', cursive;
}

.font-vollkorn {
  font-family: 'Vollkorn', serif;
}
